@font-face {
    font-family: GameFont;
    src: url("Cubic.ttf");
}
@font-face {
    font-family: text;
    src: url("ChuangKeTieJinGangTi-2.otf");
}


.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}