:root {
    --pl-color: #02028885;
    --bk-color: #020288;
    --a-color: #3cb3;
    --c8-color: #888;
    --cb-color: #bbb;
    --c6-color: #666;
    --w-color: #f0f0f0;
    --b-color: #0f0f0f;
    --b8-color: #0f0f0f88;
    --r-color:#c12;
    --g-color:#0f0;
    --y-color:#ff4;
    --o-color:#f32;
    --o2-color:#f32d;
}
::-webkit-scrollbar {display: none;}
body {
    color:var(--g-color);
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    background: #000;
    background-image: linear-gradient(to right, rgba(55, 55, 55, 0.185) 50%, transparent 50%);
    background-size: 2rem 100%;
}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    margin:0;padding:0;-webkit-font-smoothing:antialiased;
    box-sizing: border-box;text-rendering: geometricPrecision;
}
h1,h2,h3,h4,h5,h6,em,i {font-weight:100;font-style:normal;}
ul,ol,li {list-style-type:none;}
a {color:#666;text-decoration:none;outline:0;}
a:hover {text-decoration:none;}
textarea{resize: none;width:100%;height: 100%}
ul,li{list-style:none outside none}
input {text-align: center;padding: 2px 0;background-color:var(--b-color);color:var(--g-color)}
select{background-color:var(--b-color);color:var(--g-color)}
html{-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
html,body{height: 100%;overflow: hidden;position: relative}
#load{position: absolute;height: 100%;width: 100%;background-color: black}

@keyframes bink{ 0% {opacity: 0} 100% {opacity: 1}}

.flex{display: flex;flex-wrap: wrap;justify-content:center;align-content: flex-start}
.input {width: 100%;background-color:var( --bk-color);color:var( --y-color);cursor: pointer;font-weight:800;font-size:16px}
.conf{width:85%;font-weight:800;font-size:12px;background-color:var(--b-color);color:var(--g-color)}
.input:hover{opacity: 0.8}
.parameter{height: calc(100vh - 155px);font-size:12px;overflow-y: scroll;background-color:#fff0}
.tool_main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var( --w-color);;
    height: 30px;
    text-transform: capitalize;
}
.fun_main{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    width: 100%;
    background-color: var( --w-color);;
    height: 30px;
    text-transform: capitalize;
}
.btn:hover,.btn-hover{background-color:#000;padding:5px}
.btn{padding:5px}
.tool_main-item,.fun_main-item {
    color: var( --b-color);
    margin: 0 1px;
    padding: 3px;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
}

.tool_main-item:first-letter,.fun_main-item:first-letter {
    color: var( --r-color);
    font-weight: 800;
}

.view_main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var( --pl-color);
    height: calc(100vh - 85px)
}
.src_main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var( --w-color);;
    height: 25px;
}
.src_main-item {
    color: var( --b-color);
    margin: 0 1px;
    padding: 3px;
    font-weight: 600;
    font-size: 13px;
    line-height: 25px;
}
.src_main-item:first-letter {
    color: var( --r-color);
    font-weight: 800;
}

.list{width:200px;height:100%;background-color:var(--b8-color)}
.sidebar {
    width: 100%;
    height: calc(100% - 35px);
    background-color:var(--pl-color);
    overflow: auto;
}
.sidebar-item {
    background-color: #020288;
    width:100%;
    color: var(--y-color);
    font-weight: 800;
}
.sidebar-item input{
    background-color: #0000;
    border: none;
    text-align: center;
    width: 100%;
    color:  var(--y-color);
    font-weight: 800;
    font-size: 20px;
    border-bottom:2px var(--w-color) solid ;
}


.tool{width:100%;height:35px;background-color:var(--pl-color);}
.box{width:calc(100% - 200px);height:100%;background-color:var(--pl-color)}
.box textarea{background-color:#0000;color: var(--y-color);font-weight:800}
.hover1:hover,.hover1-acti{
    background-color: var( --c8-color);;
    color: var( --w-color);;
    cursor: pointer;
}
.hover2:hover,.hover2-acti{
    background-color:var(--o-color);
    color: var(--w-color);
    cursor: pointer;
}
.hover3:hover input,.hover3-acti input{
    background: #ff3322;
}

.table{width:100%}
.table td {
    border: 1px #fff8 solid;
    text-align: center;
}

.none{display: none}
.img-size {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    padding: 10px;
    background-color: var(--b8-color);
}
#img_bit{
    position: relative;width: 100%; height: calc(100vh - 140px);
    background-position: center; background-repeat: no-repeat
}
#com_bit{
    width: 100%; height:90px;
    background-color: var(--a-color);
}

.group td{border:1px var(--w-color) solid}
.handler{background:var(--b-color);border:3px var(--w-color) solid;width:100%;margin-top:10px}
.handler td{border:1px var(--w-color) solid}